@import '_setting.scss';

.board-content {
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg-color;
        border-radius: 8px;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .add-new-column {
        flex: 0 0 auto;
        padding: $gap;
        height: 32px;
        line-height: 32px;
        // justify-content: center;
        margin-left: $gap;
        // display: flex;
        // align-items: center;
        text-align: center;
        font-size: 16px;
        border-radius: $column-border-radius;
        color: #fff;
        background-color: hsla(0, 0%, 100%, 0.24);

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.4);
            color: $app-main-text-color;
            cursor: cell;
            font-weight: bold;
        }
    }
}
