@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");

$pm10: 10px;
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #ebecf0;
$common-element-bg-color: rgba(255, 255, 255, 0.4);
$column-header-height: 48px;
$column-footer-height: 48px;
$column-border-radius: 10px;
$card-border-radius: 6px;

body {
    margin: 0;
    // padding: 0;
    // border: 0;
    font-size: 14px;
    line-height: 1.3em;
    font-family: "Source Sans Pro", sans-serif;
}

.trello-web-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;

    .navbar {
        padding-left: $pm10;
        display: flex;
        align-items: center;

        &.app {
            background-color: $appbar-bg-color;
            font-size: 1.5rem;
        }

        &.board {
            background-color: $board-bg-color;
            font-size: 1.1rem;
        }
    }

    .board-columns {
        display: flex;
        margin: 0 $pm10 $pm10;
        overflow-x: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:horizontal {
            height: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $common-element-bg-color;
            border-radius: 8px;
        }

        .column {
            flex: 0 0 auto;
            width: 300px;
            height: calc(100% - #{$pm10});

            &:not(:first-child) {
                margin-left: $pm10;
            }

            > * {
                background-color: $list-bg-color;
                color: #333;
                padding: 0 8px;
            }

            header {
                padding-left: 15px;
                height: $column-header-height;
                line-height: $column-header-height;
                font-size: 16px;
                font-weight: bold;
                border-top-left-radius: $column-border-radius;
                border-top-right-radius: $column-border-radius;
            }

            footer {
                padding-left: $pm10;
                height: $column-footer-height;
                line-height: $column-footer-height;
                border-bottom-left-radius: $column-border-radius;
                border-bottom-right-radius: $column-border-radius;
            }

            ul {
                list-style-type: none;
                margin: 0;
                max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
                overflow-y: auto;

                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }

                &::-webkit-scrollbar:vertical {
                    width: 11px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: darken($color: $list-bg-color, $amount: 12);
                    border-right: 5px solid $list-bg-color;
                }

                li {
                    background-color: #fff;
                    padding: $pm10;
                    border-radius: $card-border-radius;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

                    &:not(:last-child) {
                        margin-bottom: $pm10;
                    }

                    img {
                        display: block;
                        width: calc(100% + 2 * #{$pm10});
                        margin: (-$pm10) 0 ($pm10) (-$pm10);
                        border-top-left-radius: $column-border-radius;
                        border-top-right-radius: $column-border-radius;
                    }
                }
            }
        }
    }
}
